.container {
  display: grid;
  grid-template-columns: 4fr 3.5fr 2.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'join image blue'
    'webinar image yellow'
    'webinar image social';
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
}
