.blue {
  grid-area: blue;
  background-color: #4d9caa;
  padding-top: 5rem;
  padding-left: 4rem;
  border-bottom: 2px solid black;
}

.h2Blue {
  color: #fff;
  font-size: 1.5rem;
}

.pBlue {
  margin-top: 15px;
  line-height: 1.7;
  color: #fff;
}
