.social {
  grid-area: social;
  padding-top: 3rem;
  padding-left: 8rem;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
  align-items: center;
}

.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
